# Dependencies
node_modules/
package-lock.json

# Firebase
serviceAccountKey.json
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Editor / OS
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
